@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 20px;
}

/* Grids allows for responsive design */

*{
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
	float: left;
	text-align: center;
	min-width: 240px;
	display: inline-block;
}

row::after {
	content: "";
	clear: both;
	display:  table;
	text-align: center;
}

.col-nav {width: auto; padding-left: 0px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* classes for alignments */

.alignright {
	text-align: right;
	padding-right: 50px;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}

.txtwhite {
	text-shadow: 2px 2px 5px #000000;
	font-size: 120%;
	color: white;
}

.txtred {
	color: rgb(116, 0, 62);
}

						/* offset violin image */
.offsetleft {
	position: absolute;
	left: -300px;
}

/* regular tags */
h1 {
	font-size: 50px;
}

a {
	cursor: pointer;
}

/* containers */

					/* contains navigation bar */
.navbar {
  	height: 100%;
  	width: 240px;
  	position: fixed;
  	top: 150px;
  	z-index: 1;
  	background-color: rgba(0, 0, 0, 0.7);
  	transition: 0.3s;
  	padding-top: 20px;
  	text-align: left;
	overflow: hidden;
}
					/* navigation bar buttons */
.navbar a {
  	transition: 0.3s;
	position: relative;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 10px black;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.navbar  a:hover{
  color: #e1e3da;
	text-shadow: 0 0 10px white;
}

					 /* contains buttons for navigation bar */
.navbtns {
	margin-top: 80px;
	text-align: left;
	display: block;
}
					/* buttons inside navbtns container */
.navbtns a {
	display: block;
}

					/* invisible button for opening nav bar on mouse over */
.invisiblebtn {
	top: 30px;
	z-index: 1;
	left: -70px;
}

					/* contains col's for all page content */
.contentsection {
	margin-left: 250px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	min-width: 400px;
	padding-top: 30px;
}